body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #472a00;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    outline: none;
}

input.error {
    border-color: red;
    background-color: #ffe6e6;
}

.error-text {
    color: red;
    font-size: 0.85em;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginError {
    color: red;
    margin-top: 10px;
    font-size: 1em;

}